body {
    margin: 0;
}
#app {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em 0;
}
.snap-container {
    position: relative;
}
.snap-container video,
.snap-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}
.snap-container canvas {
    z-index: 3;
}
.snap-container canvas.set-behind {
    z-index: 1;
}

.snap-snap, 
.snap-submit {
    position: absolute;
    bottom: 0;
    margin: 0.5em 1em;
    z-index: 4;
}
.snap-snap {
    left: 0;
}
.snap-submit {
    right: 0;
}
.snap-error {
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    font-size: 8rem;
    color: #eee;
    text-align: center;
    z-index: 5;
    cursor: pointer;
}

.emo-stats {
    margin-top: 8px;
}
.emo-stats button {
    display: block;
    margin: 0 auto;
}
.show-grid {
    padding: 0.25em 0;
}
.emo-form label {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.knob-col {
    display: inline-block;
    width: 12.5%;
    padding: 0 4px;
}
.knob {
    width: 100%;
    font-size: 24px;
    line-height: 65%;
    border-bottom-color: #ccc;
    border-top-color: blue; 
}
.knob.Anger {
    border-top-color: red;
}
.knob.Contempt {
    border-top-color: black;
}
.knob.Disgust {
    border-top-color: yellow;
}
.knob.Fear {
    border-top-color: green;
}
.knob.Happiness {
    border-top-color: orange;
}
.knob.Neutral {
    border-top-color: mediumslateblue;
}
.knob.Sadness {
    border-top-color: grey;
}
.knob.Surprise {
    border-top-color: pink;
}

@media screen and (max-width: 959px) {
    #app {
        padding: 1em;
    }
}
@media screen and (max-width: 650px) {
    .knob {
        font-size: 18px;
    }
}